:root {
    --primary: #310a90;
    --backgroundIcon: #72edf2;
    --gradient1: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%);
    --white: #ffffff;
    --gradient2: linear-gradient(45deg, #72edf2 0%, #5151e5 100%);
    --headline1: 700 5.9375rem/9.6068754196167rem Poppins;
    --headline2: 700 3.6875rem/5.96637487411499rem Poppins;
    --headline3: 700 3rem/4.854000091552734rem Poppins;
    --headline4: 700 2.125rem/3.4382500648498535rem Poppins;
    --headline5: 700 1.5rem/2.427000045776367rem Poppins;
    --body1: 400 1rem/1.6180000305175781rem Poppins;
    --body2: 700 1rem/1.6180000305175781rem Poppins;
    --body3: 400 0.875rem/1.4157500267028809rem Poppins;
    --button: 700 0.875rem/1.4157500267028809rem Poppins;
    --caption: 400 0.75rem/1.2135000228881836rem Poppins;
}

body {
    color: var(--white);
    background-image: var(--gradient2);
    background-repeat: no-repeat;
    font: var(--headline2);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    margin-top: 25px;
}

header h3 {
    font: var(--headline5);
    color: var(--primary);
    margin: 0px;
}

.navbar {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    font: var(--body2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.opt_a {
    color: var(--primary);
    transition: all 300ms ease;
}

.opt_a:hover {
    color: var(--white);
}

.opt {
    transition: all 300ms ease;
}

.opt:hover {
    color: var(--primary);
}

button {
    font: var(--button);
    width: 13%;
    height: fit-content;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.avatar {
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.avatarImg {
    width: 40%;
    display: contents;
    border: 1px solid black;
}

.avatarImg>img {
    height: 450px;
    border-radius: 15px;
}

.avatarInfo {
    width: 40%;
    color: var(--primary);
}

.iconsContainer {
    width: 100%;
    display: flex;
    gap: 10px;
}

.iconBox {
    border: 2px solid var(--primary);
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
}

.iconBox img {
    padding: 10px;
}

.avatarInfo>h2 {
    font: var(--headline5);
    margin-top: 0px;
    margin-bottom: 0px;
}

.avatarInfo>h1 {
    font: var(--headline2);
    margin-top: 0px;
    margin-bottom: 0px;
}

.avatarInfo p {
    font: var(--body1);
}