:root {
    --primary: #310a90;
    --white: #ffffff;
    --gradient1: linear-gradient(45deg, rgba(250, 214, 161, 0.95) 0%, rgba(233, 109, 113, 0.95) 100%);
    --gradient2: linear-gradient(45deg, #72edf2 0%, #5151e5 100%);
    --headline1: 700 5.9375rem/9.6068754196167rem Poppins;
    --headline2: 700 3.6875rem/5.96637487411499rem Poppins;
    --headline3: 700 3rem/4.854000091552734rem Poppins;
    --headline4: 700 2.125rem/3.4382500648498535rem Poppins;
    --headline5: 700 1.5rem/2.427000045776367rem Poppins;
    --headline6: 100 1.5rem/2.427000045776367rem Poppins;
    --body1: 400 1rem/1.6180000305175781rem Poppins;
    --body2: 700 1rem/1.6180000305175781rem Poppins;
    --body3: 400 0.875rem/1.4157500267028809rem Poppins;
    --button: 700 0.875rem/1.4157500267028809rem Poppins;
    --caption: 400 0.75rem/1.2135000228881836rem Poppins;
}


/*Fonts*/

@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot?wk2dxv');
    src: url('../font/icomoon.eot?wk2dxv#iefix') format('embedded-opentype'), url('../font/icomoon.ttf?wk2dxv') format('truetype'), url('../fonts/icomoon.woff?wk2dxv') format('woff'), url('../fonts/icomoon.svg?wk2dxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-menu {
    font-size: 0.65em;
}

body {
    color: var(--white);
    background-image: var(--gradient2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: var(--headline2);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    margin-top: 25px;
}

header h3,
footer h3 {
    font: var(--headline5);
    color: var(--primary);
    margin: 0px;
}

footer h3 {
    color: var(--white);
    display: flex;
    align-items: center;
}

.navbar {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    font: var(--body2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.opt_a>a,
.opt>a {
    text-decoration: none;
}

.opt_a>a {
    color: var(--primary);
    transition: all 300ms ease;
}

.opt_a>a:hover {
    color: var(--white);
}

.opt>a {
    transition: all 300ms ease;
    color: var(--white);
}

.opt>a:hover {
    color: var(--primary);
}

button {
    font: var(--button);
    width: 13%;
    height: fit-content;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.avatar {
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.avatarImg {
    display: contents;
    border: 1px solid black;
}

.avatarImg>img {
    border-radius: 15px;
}

.avatarInfo {
    width: 40%;
    color: var(--primary);
}

.iconsContainer {
    width: 100%;
    display: flex;
    gap: 10px;
}

.iconBox {
    border: 2px solid var(--primary);
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
}

.iconBox img {
    padding: 10px;
}

.curriculum {
    display: none;
    width: fit-content;
    transition: all 300ms ease;
}

.curriculum:hover {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.avatarInfo>h2 {
    font: var(--headline5);
    margin-top: 0px;
    margin-bottom: 0px;
}

.avatarInfo>h1 {
    font: var(--headline2);
    margin-top: 0px;
    margin-bottom: 0px;
}

.avatarInfo p {
    font: var(--body1);
}

.main {
    width: 80%;
    margin: 0px auto;
    margin-top: 100px;
}

.article {
    text-align: center;
    color: var(--primary);
    margin-bottom: 100px;
}

.articleP1 {
    font: var(--headline6);
}

.articleP2 {
    font: var(--body2);
    letter-spacing: 1px;
}

.article>img {
    width: 50px;
}

.projectOne,
.projectTwo,
.projectThree {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
}

.projectTwo {
    flex-direction: row;
}

.projectThree {
    justify-content: center;
    gap: 100px;
}

.imgContainer,
.imgContainerTwo,
.imgContainerThree {
    display: flex;
    justify-content: end;
}

.imgContainerTwo {
    justify-content: start;
}

.imgContainerThree {
    justify-content: center;
}

.imgContainer>img,
.imgContainerTwo>img,
.imgContainerThree>img {
    width: 90%;
}

.titleInfo {
    width: fit-content;
    font: var(--headline4);
    border-radius: 0px;
    box-shadow: -1px 1px 0px white, -2px 2px 0px white, -3px 3px 0px white, -4px 4px 0px white;
    background-color: var(--primary);
    padding-left: 5px;
    padding-right: 5px;
}

.projectInfoTwo,
.projectInfoThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.projectInfo>p,
.projectInfoThree>p {
    color: var(--primary);
    font: var(--body1);
}

.projectInfoTwo>p {
    color: var(--primary);
    font: var(--body3);
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

.buttonProject,
.buttonCode {
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid var(--primary);
    transition: all 300ms ease;
}

.buttonCode {
    color: var(--primary);
    background-color: transparent;
}

.buttonProject:hover {
    background-color: transparent;
    color: var(--primary);
}

.buttonCode:hover {
    background-color: var(--primary);
    color: var(--white);
}

.testimonialCard {
    background-color: #65b0ed;
    border-radius: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    margin-bottom: 150px;
    color: var(--primary);
    text-align: center;
    padding: 60px;
}

.cardImgContainer>img {
    border-radius: 50%;
}

.cardReview {
    font: var(--headline6);
}

.whoReviews {
    font: var(--body2);
    opacity: 0.5;
}

.contact {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 100px;
}

.titleContact {
    width: 90%;
    font: var(--headline4);
    border-radius: 0px;
    box-shadow: -1px 1px 0px white, -2px 2px 0px white, -3px 3px 0px white, -4px 4px 0px white;
    background-color: var(--primary);
    text-align: center;
    margin-bottom: 0px;
}

.contactNote {
    font: var(--caption);
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

form label {
    font: var(--body2);
    color: var(--primary);
    text-align: left;
    width: 90%;
}

input[type="text"],
input[type="email"] {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
}

textarea {
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    resize: none;
}

input[type="button"] {
    width: 95%;
    height: 35px;
    background-color: var(--primary);
    color: var(--white);
    font: var(--button);
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footerInfo {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.textFooter {
    font: var(--body1);
    width: 65%;
}

.iconsContainerFooter {
    width: 35%;
    display: flex;
    gap: 10px;
}

.burger-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: var(--white);
}

@media screen and (max-width:1350px) {
    .footerInfo {
        width: 85%;
    }
}

@media screen and (max-width:1270px) {
    .avatarImg>img {
        width: 50%;
    }
    .textFooter {
        width: 80%;
    }
}

@media screen and (max-width:1215px) {
    .avatarInfo {
        width: 45%;
    }
    .textFooter {
        font: var(--body3);
    }
}

@media screen and (max-width:1115px) {
    .avatar {
        margin-bottom: 150px;
    }
    .avatarImg>img {
        width: 47%;
    }
    button {
        width: 20%;
    }
    .textFooter {
        text-align: center;
    }
}

@media screen and (max-width:1024px) {
    .avatarInfo {
        width: 50%;
    }
    .navbar {
        width: 40%;
    }
}

@media screen and (max-width:900px) {
    .navbar {
        width: 45%;
    }
    .avatarInfo>p {
        width: 70%;
    }
}

@media screen and (max-width:800px) {
    .navbar {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    br {
        display: none;
    }
    .btnCurriculum {
        display: none;
    }
    header,
    .avatar,
    .main,
    footer {
        width: 85%;
    }
    .titleInfo {
        font: var(--headline5);
    }
    .avatarInfo>h1 {
        font: var(--headline3);
    }
    .projectInfo>p {
        font: var(--body3);
    }
    .projectThree {
        gap: 70px;
    }
    .contact {
        width: 75%;
    }
    footer h3 {
        display: none;
    }
}

@media screen and (max-width:670px) {
    .curriculum {
        display: block;
        margin-top: 20px;
    }
    .avatar {
        flex-direction: column;
        align-items: center;
    }
    .avatarImg>img {
        width: 60%;
    }
    .avatarInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatarInfo>p {
        text-align: center;
    }
    .iconsContainer {
        justify-content: center;
    }
    .article {
        margin-bottom: 50px;
    }
    .projectOne,
    .projectTwo,
    .projectThree {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .testimonialCard {
        padding: 15px;
    }
    .contact {
        margin-bottom: 30px;
    }
    .footerInfo {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .iconsContainerFooter {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .navbar {
        width: 60%;
    }
    .articleP2 {
        font: var(--body3);
        font-weight: 600;
    }
    .articleP1,
    .cardReview {
        font: var(--body1);
    }
    form label,
    .whoReviews {
        font: var(--body3);
        font-weight: 600;
    }
    .testimonialCard {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:540px) {
    .navbar {
        width: 65%;
    }
    header,
    .avatar,
    .main,
    footer {
        width: 90%;
    }
    .projectOne,
    .projectTwo,
    .projectThree {
        flex-direction: column;
    }
    .imgContainer,
    .imgContainerTwo,
    .imgContainerThree {
        justify-content: center;
    }
    .imgContainer>img,
    .imgContainerTwo>img,
    .imgContainerThree>img {
        width: 70%;
    }
    .iconsContainerFooter {
        width: 46%;
    }
}

@media screen and (max-width:480px) {
    .navbar {
        width: 70%;
    }
    .projectOne,
    .projectTwo,
    .projectThree {
        gap: 30px;
    }
}

@media screen and (max-width:425px) {
    .avatarImg>img {
        width: 75%;
    }
    .burger-button {
        display: block;
        background-color: transparent;
        position: fixed;
        left: 365px;
        top: 23px;
    }
    .menu {
        height: auto;
        background-image: var(--gradient1);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        transition: 1.5s;
    }
    .menu.is-active {
        left: 0;
    }
    .menu {
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
    }
    .iconsContainerFooter {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .burger-button {
        left: 340px;
    }
}

@media screen and (max-width:375px) {
    .burger-button {
        left: 315px;
    }
}

@media screen and (max-width:347px) {
    .burger-button {
        left: 290px;
    }
}

@media screen and (max-width:320px) {
    .burger-button {
        left: 265px;
    }
    .contact {
        width: 100%;
    }
}